<div class="hero">
<br />
    <h1>Tired of looking for new shows to watch?</h1>
    <h2>say no<br>
    more</h2>
</div>

<br />
<div class="row text-center">
  <div class="col-12 col-sm">
    <h3><%= link_to 'Movies', '#' %></h3>
    <br />
    <p>If you have 2+ hours of free time<p>
  </div>

  <div class="col-12 col-sm">
    <h3><%= link_to 'TV series', '#' %></h3>
    <br />
    <p>If you potentially have 30 minutes to 12 hours of free time<p>
  </div>

  <div class="col-12 col-sm">
    <h3><%= link_to 'Documentaries', '#' %></h3>
    <br />
    <p>If you have 1 - 2 hours of free time, plus the additional time it takes to do a google deep dive<p>
  </div>
</div>